body {
  min-width: 500px;
}

#main-container {
  max-width: 1310px;
}

.bg-red {
  background-color: #f72210;
}

.bg-gray {
  background-color: #666;
}

.bg-light-gray {
  background-color: #f4f5f6;
}

.text-red {
  color: #f72210;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #666;
}

.top-nav {
  color: #fff;
}

.fill-white {
  fill: white;
}

.fill-red {
  fill: #f72210;
}

.line-height-13 {
  line-height: 1.5;
}

.before-container::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 24px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #e9e9ea;
  color: #f42210;
  padding: 0.3em 0.8em;
  font-weight: bold;
  font-size: 0.9rem;
}

.topic {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #c2d4d7;
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
}

.navbar-logo {
  width: 140px;
}

.vs-border-red {
  border-top: 4px solid #f92859;
}

.vs-border-blue {
  border-top: 4px solid #1c87fb;
}

.newsletter {
  max-width: 300px;
  margin: auto;
}

.border-top-double {
  border-top-style: double;
}

.img-newsletter {
  background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 354px;
  width: 100%;
  display: block;
}

.img-overlap {
  top: 30px;
  left: 30px;
}

.footer-logo {
  width: 236px;
}
