#main-container {
  max-width: 1310px;
}

.bg-red {
  background-color: #f72210;
}

.text-red {
  color: #f72210;
}

.text-grey {
  color: #a0a0a0;
}

.top-nav {
  color: #fff;
}

.fill-white {
  fill: white;
}

.line-height-13 {
  line-height: 1.5;
}

.bottom-nav:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #e9e9ea;
  color: #f42210;
  padding: 0.3em 0.8em;
  font-weight: bold;
  font-size: 0.9rem;
}

.topic {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #c2d4d7;
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
}
